div.container-fluid
		div.row
			div#nav.col-lg-12
				button.col-lg-2.btn.btn-lg='Login'
				button.col-lg-2.btn.btn-lg='Login'
				button.col-lg-2.btn.btn-lg='Login'
				button.col-lg-2.btn.btn-lg='Login'
				button.col-lg-2.btn.btn-lg='Login'